@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-4xl font-bold;
    }
    h2 {
      @apply text-2xl font-bold;
    }
    h3 {
      @apply text-xl font-bold;
    }
    span {
      @apply text-sm;
    }
    body {
      @apply bg-zinc-800;
    }
    body, div, h1, h2, h3, h4, span, p {
        @apply font-Rubik text-slate-800 dark:text-slate-200
    }
  }
  
@font-face {
  font-family: 'stopwatch';
  src: url(/fonts/digital-7.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik.ttf);
}


main {
  padding: 0 !important;
}